<form name="input" action="display" method="get">
<h2>Grade Level</h2>
<ul>
	<li><input type="radio" name="grade" value="K"/> Pre-K to K</li>
	<li><input type="radio" name="grade" value="1"/> 1 - 2</li>
	<li><input type="radio" name="grade" value="3"/> 3 - 5</li>
	<li><input type="radio" name="grade" value="6"/> 6 - 8</li>
	<li><input type="radio" name="grade" value="9"/> 9 - 12</li>
	<li><input type="radio" name="grade" value="K"/> Higher Education</li>
	<li><input type="radio" name="grade" value="K"/> Adult Education</li>
	<li><input type="radio" name="grade" value="all" checked/> All Grades</li>
</ul>
<h2>Subject</h2>
<ul>
	<li><input type="radio" name="subject" value="Science"/> Science</li>
	<li><input type="radio" name="subject" value="Math"/> Math</li>
	<li><input type="radio" name="subject" value="History"/> History</li>
	<li><input type="radio" name="subject" value="English"/> English</li>
	<li><input type="radio" name="subject" value="Social Studies"/> Social Studies</li>
	<li><input type="radio" name="subject" value="Art"/> Art &amp; Music</li>
	<li><input type="radio" name="subject" value="all" checked/> All Subjects</li>
</ul>
<h2>Lesson Length</h2>
<ul>
	<li><input type="radio" name="length" value="5"/> 5 - 14 minutes</li>
	<li><input type="radio" name="length" value="15"/> 15 - 29 minutes</li>
	<li><input type="radio" name="length" value="30"/> 30 - 44 minutes</li>
	<li><input type="radio" name="length" value="45"/> 45 - 59 minutes</li>
	<li><input type="radio" name="length" value="60"/> 60 - 89 minutes</li>
	<li><input type="radio" name="length" value="90"/> 90 - 119  minutes</li>
	<li><input type="radio" name="length" value="120"/> 2+ hours</li>
	<li><input type="radio" name="length" value="all" checked/> All Lesson Lengths</li>
</ul>
<h2>Difficulty Level</h2>
<ul>
	<li><input type="radio" name="difficulty" value="Easy"/> Easy</li>
	<li><input type="radio" name="difficulty" value="Moderate"/> Moderate</li>
	<li><input type="radio" name="difficulty" value="Difficult"/> Difficult</li>
	<li><input type="radio" name="difficulty" value="all" checked/> All Difficulty Levels</li>
</ul>
<h2>Rating</h2>
<ul>
	<li class="star r0"><input type="radio" name="rating" value="all" checked/><span class="starText"> and Up</span></li>
	<li class="star r1"><input type="radio" name="rating" value="1"/><span class="starText"> and Up</span></li>
	<li class="star r2"><input type="radio" name="rating" value="2"/><span class="starText"> and Up</span></li>
	<li class="star r3"><input type="radio" name="rating" value="3"/><span class="starText"> and Up</span></li>
	<li class="star r4"><input type="radio" name="rating" value="4"/><span class="starText"> and Up</span></li>
	<li class="star r5"><input type="radio" name="rating" value="5"/></li>
</ul>
<input type="submit" value="Submit">
</form>
<div class="resultsListContainer">
  <img src="assets/featuredLessons.png" />
</div>