<h2>Grade Level</h2>
<ul>
	<li><input type="checkbox" /> Pre-K to K</li>
	<li><input type="checkbox" /> 1 - 2</li>
	<li><input type="checkbox" /> 3 - 5</li>
	<li><input type="checkbox" /> 6 - 8</li>
	<li><input type="checkbox" /> 9 - 12</li>
	<li><input type="checkbox" /> Higher Education</li>
	<li><input type="checkbox" /> Adult Education</li>
	<li><input type="checkbox" /> All Grades</li>
</ul>
<h2>Subject</h2>
<ul>
	<li><input type="checkbox" /> Science</li>
	<li><input type="checkbox" /> Math</li>
	<li><input type="checkbox" /> History</li>
	<li><input type="checkbox" /> English</li>
	<li><input type="checkbox" /> Social Studies</li>
	<li><input type="checkbox" /> Art &amp; Music</li>
	<li><input type="checkbox" /> All Subjects</li>
</ul>
<h2>Lesson Length</h2>
<ul>
	<li><input type="checkbox" /> 5 - 15 minutes</li>
	<li><input type="checkbox" /> 15 - 30 minutes</li>
	<li><input type="checkbox" /> 45 - 60 minutes</li>
	<li><input type="checkbox" /> 60 - 90 minutes</li>
	<li><input type="checkbox" /> 90 - 120  minutes</li>
	<li><input type="checkbox" /> 2+ hours</li>
	<li><input type="checkbox" /> All Lesson Lengths</li>
</ul>
<h2>Difficulty Level</h2>
<ul>
	<li><input type="checkbox" /> Easy</li>
	<li><input type="checkbox" /> Moderate</li>
	<li><input type="checkbox" /> Difficult</li>
	<li><input type="checkbox" /> All Difficulty Levels</li>
</ul>
<h2>Rating</h2>
<ul>
	<li class="star r0"><input type="checkbox" /><span class="starText"> and Up</span></li>
	<li class="star r1"><input type="checkbox" /><span class="starText"> and Up</span></li>
	<li class="star r2"><input type="checkbox" /><span class="starText"> and Up</span></li>
	<li class="star r3"><input type="checkbox" /><span class="starText"> and Up</span></li>
	<li class="star r4"><input type="checkbox" /><span class="starText"> and Up</span></li>
	<li class="star r5"><input type="checkbox" /></li>
</ul>