#lesson-plan {
	margin-top: 20px;
}
#author {
	padding-top: 10px;
}
#comments {
	padding-top: 20px;
}
.download-button {
	padding-top: 10px;
}
.btn {
	margin-top: 10px;
}

.star	{width:120px; display:block; height:20px; }
.r0		{background:#fff url(/assets/lesson_plans/rating_stars.png) no-repeat 22px 0px;}
.r05	{background:#fff url(/assets/lesson_plans/rating_stars.png) no-repeat 22px -21px;}
.r1		{background:#fff url(/assets/lesson_plans/rating_stars.png) no-repeat 22px -43px;}
.r1_5	{background:#fff url(/assets/lesson_plans/rating_stars.png) no-repeat 22px -65px;}
.r2		{background:#fff url(/assets/lesson_plans/rating_stars.png) no-repeat 22px -87px;}
.r2_5	{background:#fff url(/assets/lesson_plans/rating_stars.png) no-repeat 22px -108px;}
.r3		{background:#fff url(/assets/lesson_plans/rating_stars.png) no-repeat 22px -130px;}
.r3_5	{background:#fff url(/assets/lesson_plans/rating_stars.png) no-repeat 22px -152px;}
.r4		{background:#fff url(/assets/lesson_plans/rating_stars.png) no-repeat 22px -176px;}
.r4_5	{background:#fff url(/assets/lesson_plans/rating_stars.png) no-repeat 22px -198px;}
.r5		{background:#fff url(/assets/lesson_plans/rating_stars.png) no-repeat 22px -220px;}